@charset "utf-8";

#wrap {
  width: 100%;
}

.scroll {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 100px;
  text-align: center;
  border: 1px solid salmon;
  display: none;
  scroll-behavior: smooth;
  z-index: 100;
}
.inner {
  width: 1760px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
header.inner {
  margin-bottom: 100px;
  width: 100%;
}
.title_bar {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 10px 0px;
  position: relative;
}
.title_bar h1 {
  background: url(../img/title_logo.png) no-repeat;
  background-size: contain;
  width: 60px;
  margin-left: 80px;
}
.title_menu ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 80px;
}
.title_menu ul li {
  margin-left: 150px;
}
.title_menu ul li:hover a {
  font-weight: 600;
}
.m_title_menu {
  display: none;
  position: absolute;
  right: 0px;
}
input[id="m_menu"] {
  display: none;
}
.m_title_menu label {
  display: block;
  width: 30px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.m_title_menu label span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 0px 5px;
  background-color: #000;
  /* border-radius: 2px; */
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 50;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  background-color: #111;
}
.m_title_menu label:hover span {
  background-color: #fff;
  border: 1px solid #111;
}
.m_title_menu label span:nth-child(1) {
  top: 0px;
}
.m_title_menu label span:nth-child(2) {
  top: 8px;
}
.m_title_menu label span:nth-child(3) {
  top: 16px;
}
.m_title_menu div {
  position: absolute;
  text-align: center;
  right: -200px;
  padding: 20px;
  background-color: #fff;
  width: 180px;
  height: 100vh;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 30;
}
.m_title_menu div li {
  padding: 25px 0px;
}
.m_title_menu div li:nth-child(1) {
  padding-top: 60px;
}
.m_title_menu div a {
  display: block;
}
.m_title_menu div a:hover {
  font-weight: 600;
}
input[id="m_menu"]:checked + label + div {
  top: 0px;
  right: 0px;
}
input[id="m_menu"]:checked + label span {
  background-color: #fff;
  border: 1px solid #111;
}
/* input[id="m_menu"]:checked +label span:nth-child(1){
  top:30%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  background-color: #111;
} */
/* input[id="m_menu"]:checked +label span:nth-child(2){
  opacity: 0;
} */
/* input[id="m_menu"]:checked +label span:nth-child(3){
  top: 30%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  background-color: #111;
} */

.header_main {
  display: flex;
  justify-content: center;
  position: relative;
}

.header_main > div:nth-child(1) img {
  width: 1620px;
  padding: 20px 80px;
}

.header_main > div:nth-child(2) {
  /* position: absolute;
  left: 1450px;
  bottom: 30px; */
  width: 400px;
  position: relative;
}
.header_main > div:nth-child(2) img {
  position: absolute;
  top: 520px;
  left: -170px;
}
.header_main > div:nth-child(2) p {
  position: absolute;
  top: 620px;
  left: -170px;
}

section h2 {
  font-size: 28pt;
}

/* section 01 */
section:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  overflow: hidden;
}

/* new */
.new {
  padding-right: 100px;
  padding-bottom: 40px;
  border-right: 1px dashed #7070707e;
}
.new > h2 {
  margin-bottom: 50px;
}
.newSwiper {
  width: 85%;
  height: 800px;
  padding: 10px;
  /* border: 10px double #f1f1f1; */
  margin: 0px;
}
.new-swiper-slide {
  font-size: 18pt;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 30px;
  overflow-y: scroll;
}
.new-swiper-slide::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}
.new-swiper-slide::-webkit-scrollbar-track {
  /* background-color: rgba(241, 241, 241, 0.438); */
  /* border: 2px solid #c4c4c45e; */
  border-radius: 10px;
}
.new-swiper-slide::-webkit-scrollbar-thumb {
  border: 2px solid #00000044;
  /* background-color: rgba(150, 150, 150, 0.178); */
  height: 10%;
  border-radius: 10px;
}
.new-swiper-slide::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.233);
  border: 0px;
}
.new_product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #c9c9c941;
}
.new_product img {
  width: 40%;
  margin-right: 50px;
}
.new_product > div p:nth-child(1) {
  font-size: 10pt;
}
.new_product > div p:nth-child(2) {
  font-size: 15pt;
  font-weight: 600;
  margin: 3px 0px 5px 0px;
}
.new_product > div p:nth-child(3) {
  font-size: 14pt;
  font-weight: 500;
  margin-bottom: 10px;
}
.new_product > div a {
  display: inline-block;
  border: 1px solid #000;
  font-size: 12pt;
  padding: 2px 5px;
}
.new_product > div a:hover {
  color: #fff;
  background-color: #000;
}
/* best */
.best {
  width: 900px;
  margin-left: 50px;
}
.best_rank {
  position: relative;
  opacity: 0;
  transition: all 0.7s;
  top: 150px;
}
.best_rank.show {
  opacity: 1;
  top: 0px;
}
.best span {
  font-size: 150pt;
  position: absolute;
  z-index: 10;
  display: block;
  color: #c2c2c25b;
}
.best span:nth-of-type(1) {
  top: -4px;
  left: 20px;
}

.best span:nth-of-type(2) {
  top: 310px;
  left: 730px;
}

.best span:nth-of-type(3) {
  top: 620px;
  left: 20px;
}

.best > div {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.best_product {
  position: absolute;
}
.best_01 {
  display: flex;
  align-items: center;
  text-align: right;
  top: 0px;
  left: 70px;
  padding: 20px 40px;
}

.best_01 > div:nth-child(2) {
  width: 400px;
  height: 200px;
  background: url(../img/best_product_03.png) no-repeat;
  background-size: contain;
}
.best_02 {
  top: 300px;
  left: 100px;
  display: flex;
  align-items: center;
}
.best_02 > div:nth-child(1) {
  background: url(../img/best_product_01.png) no-repeat;
  background-size: contain;
  width: 280px;
  height: 280px;
  margin-right: 80px;
}
.best_02 > div:nth-child(1):hover {
  background: url(../img/best_product_01_h.png) no-repeat;
  background-size: contain;
}
.best_03 {
  top: 580px;
  left: 190px;
  display: flex;
  align-items: center;
  text-align: right;
}
.best_03 > div:nth-child(2) {
  background: url(../img/best_product_02.png) no-repeat;
  background-size: contain;
  width: 320px;
  height: 320px;
  margin-left: 60px;
}

.best_name {
  display: block;
}
.best_name > div:nth-child(1) p:nth-child(1) {
  font-weight: 300;
  font-size: 11pt;
}

.best_name > div:nth-child(1) p:nth-child(2) {
  font-size: 18pt;
  font-weight: 600;
  margin: 5px 0px 2px 0px;
}
.best_name > div:nth-child(1) p:nth-child(3) {
  font-weight: 600;
}

.best_name > div:nth-child(2) p {
  font-size: 16pt;
  font-weight: 600;
  margin-bottom: 7px;
}
.best_name > div:nth-child(2) a {
  border: 1px solid #000;
  padding: 1px 3px;
}
.best_name > div:nth-child(2) a:hover {
  background-color: #000;
  color: #fff;
}
.best_01 .best_name {
  width: 300px;
  margin-right: 50px;
}
.best_01 .best_name > div:nth-child(1) {
  margin-bottom: 5px;
}
.best_02 .best_name {
  width: 200px;
}
.best_02 .best_name > div:nth-child(1) {
  margin-bottom: 5px;
}
.best_02 .best_name > div:nth-child(2) {
  text-align: left;
}
.best_03 .best_name {
  width: 220px;
}
.best_03 .best_name > div:nth-child(1) {
  margin-bottom: 5px;
}
/* section 02 */
section:nth-child(2) {
  margin-bottom: 100px;
  padding: 30px 0px;
}

section:nth-child(2) .product-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 0px;
}

section:nth-child(2) .product-swiper-slide a {
  display: block;
  font-size: 24pt;
  font-weight: 600;
  padding: 10px 0px 0px 15px;
}

/* product */
.product-swiper-slide::-webkit-scrollbar {
  width: 100%;
  height: 10px;
}
.product-swiper-slide::-webkit-scrollbar-track {
  /* background-color: rgba(241, 241, 241, 0.438); */
  /* border: 2px solid #c4c4c45e; */
  border-radius: 10px;
}
.product-swiper-slide::-webkit-scrollbar-thumb {
  border: 2px solid #00000044;
  /* background-color: rgba(150, 150, 150, 0.178); */
  /* background-color: rgba(0, 0, 0, 0.096); */
  width: 50%;
  border-radius: 10px;
}
.product-swiper-slide::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.233);
  border: 0px;
}
.product {
  margin: 0px 430px 0px 0px;
}
.product > div {
  opacity: 0;
  transition: all 1s;
  position: absolute;
}
.product > div.show {
  opacity: 1;
  top: 0px;
}
.product > div > div {
  position: relative;
}
.product > div a {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.product > div a:hover {
  color: #fff;
  backdrop-filter: brightness(0.6);
  opacity: 1;
}
.product > div a span:nth-child(1) {
  color: #fff;
}
.product > div a span:nth-child(2) {
  display: inline-block;
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 2px;
  top: 50px;
  left: 15px;
  opacity: 0;
  transition: 0.7s ease;
}
.product > div a:hover span:nth-child(2) {
  width: 340px;
  opacity: 1;
}
.product > div a span:nth-child(3) {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 15px;
  font-size: 13pt;
  font-weight: 300;
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
}
.product > div a:hover span:nth-child(3) {
  opacity: 1;
}
.product > div a span:nth-child(3) ul li {
  list-style-type: circle;
  margin-left: 30px;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* product01 */
.product01 {
  position: relative;
  width: 400px;
  height: 480px;
}
.product01 > div {
  top: 780px;
}
.product01 .product01_1 {
  width: 400px;
  height: 480px;
  background: url(../img/hay_16.jpg) no-repeat center;
  background-size: cover;
}
.product01 .product01_1 a span:nth-child(2) {
  top: 85px;
}

/* product02 */
.product02 {
  position: relative;
  width: 400px;
  height: 710px;
}
.product02 > div {
  top: -780px;
}

.product02 .product02_1 {
  width: 400px;
  height: 240px;
  background: url(../img/hay_18.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.product02 .product02_2 {
  width: 400px;
  height: 480px;
  background: url(../img/hay_14.jpeg) no-repeat center;
  background-size: cover;
}

/* product03 */
.product03 {
  position: relative;
  width: 400px;
  height: 560px;
}
.product03 > div {
  top: 780px;
}
.product03 .product03_1 {
  width: 400px;
  height: 230px;
  background: url(../img/lbm_lamp_01.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
  color: #ffffff;
  position: relative;
}

/* .product03 .product03_1 a span:nth-child(1) {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px 0px 25px 15px;
}
.product03 .product03_1 a span:nth-child(2) {
  left: 15px;
  top: 210px;
} */
.product03 .product03_2 {
  width: 400px;
  height: 300px;
  background: url(../img/hay_09.jpeg) no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
}
.product03 .product03_2 a span:nth-child(1) {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px 0px 25px 15px;
}
.product03 .product03_2 a span:nth-child(2) {
  left: 15px;
  top: 280px;
}

/* product04 */
.product04 {
  position: relative;
  width: 350px;
  height: 820px;
  margin: 40px 380px 40px 0px;
}
.product04 > div {
  top: -780px;
}
.product04 .product04_1 {
  width: 350px;
  height: 410px;
  background: url(../img/eco_bag_04.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}
/* .product04 .product04_1 a span:nth-child(1) {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px 0px 25px 15px;
}
.product04 .product04_1 a span:nth-child(2) {
  left: 15px;
  top: 280px;
} */
.product04 .product04_1 a:hover span:nth-child(2) {
  width: 305px;
}
.product04 .product04_2 {
  width: 350px;
  height: 350px;
  background: url(../img/tint_cup_m_02.jpg) no-repeat center;
  background-size: cover;
}
.product04 .product04_2 a:hover span:nth-child(2) {
  width: 305px;
}

/* product05 */
.product05 {
  position: relative;
  width: 500px;
  height: 300px;
}
.product05 > div {
  top: 780px;
}
.product05 .product05_1 {
  width: 500px;
  height: 300px;
  background: url(../img/hay_20.jpg) no-repeat center;
  background-size: cover;
}
.product05 .product05_1 a:hover span:nth-child(2) {
  width: 465px;
}
/* section03 */
section:nth-child(3) {
  margin-bottom: 120px;
  background-color: rgba(255, 244, 207, 0.253);
  padding: 50px 0px;
}
section:nth-child(3) h2 {
  margin-bottom: 50px;
}
section:nth-child(3) > div > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
}
section:nth-child(3) > div > div img {
  margin-right: 50px;
}
section:nth-child(3) > div > div iframe {
  margin-bottom: 35px;
}
section:nth-child(3) > div > div p {
  font-size: 15pt;
  font-weight: 600;
  margin-bottom: 5px;
}
section:nth-child(3) > div > div p:nth-of-type(1) {
  font-size: 20pt;
  font-weight: 700;
  margin-bottom: 8px;
}
section:nth-child(3) > div > div p:nth-of-type(2) {
  font-size: 13pt;
  font-weight: 500;
  margin-bottom: 20px;
}
section:nth-child(3) > div > div p:nth-of-type(4) {
  margin-bottom: 0px;
}

/* section04 */
section:nth-child(4) {
  margin-bottom: 100px;
}
section:nth-child(4) h2 {
  margin-bottom: 20px;
}
section:nth-child(4) .sns_title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}
section:nth-child(4) .sns_title h1 {
  font-size: 25pt;
  /* margin-right: 300px; */
}

section:nth-child(4) .sns_title span {
  margin-right: 20px;
}
section:nth-child(4) .sns {
  width: 93%;
  display: flex;
  margin: 0 auto;
  padding: 30px 0px;
  overflow-x: scroll;
}
section:nth-child(4) .sns::-webkit-scrollbar {
  opacity: 0;
  height: 10px;
}
.sns::-webkit-scrollbar-track {
  background-color: #ffffff41;
}
section:nth-child(4) .sns::-webkit-scrollbar-thumb {
  border: 2px solid #00000044;
  /* background-color: rgba(0, 0, 0, 0.096); */
  border-radius: 10px;
}
section:nth-child(4) .sns::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.233);
  border: 0px;
}
section:nth-child(4) .sns > div {
  margin-right: 30px;
  position: relative;
}
section:nth-child(4) .sns > div img {
  width: 300px;
}
section:nth-child(4) .sns > div:hover img {
  filter: brightness(0.5);
}
section:nth-child(4) .sns > div i:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
  font-size: 23pt;
  color: #ffffff;
  display: none;
}
section:nth-child(4) .sns > div i:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50%);
  font-size: 23pt;
  color: #ffffff;
  display: none;
}
section:nth-child(4) .sns > div:hover i {
  display: block;
  background-color: #7e7e7e80;
  border-radius: 50%;
  padding: 10px;
}
section:nth-child(4) .sns > div i:nth-child(1):hover {
  color: rgb(255, 152, 138);
}
section:nth-child(4) .sns > div i:nth-child(2):hover {
  color: rgb(255, 233, 162);
}
/* footer */
footer {
  display: flex;
  padding: 40px 0px;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: #e9e6e5;
}
footer > div:nth-child(1) {
  margin-right: 500px;
}
footer img {
  width: 60px;
  margin-bottom: 50px;
}
footer p {
  margin-bottom: 8px;
  font-size: 10pt;
}

footer > div:nth-child(2) p:nth-of-type(1) {
  font-weight: 500;
}
footer > div:nth-child(2) p:nth-of-type(2) {
  font-size: 17pt;
  font-weight: 600;
  margin: 8px 0px;
}
footer > div:nth-child(2) p:nth-of-type(4) {
  margin-bottom: 20px;
}

footer > div:nth-child(2) i {
  font-size: 25pt;
  margin-right: 30px;
}
footer > div:nth-child(2) .fa-instagram {
  font-size: 26pt;
}
footer > div:nth-child(2) a:hover .fa-instagram {
  background: linear-gradient(
    150deg,
    #515bd4 10%,
    #8134af 20%,
    #dd2a7b 40%,
    #ffc21c 80%,
    #fdb312 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer > div:nth-child(2) a:hover .fa-facebook {
  color: #1877f2;
}
footer > div:nth-child(2) a:hover .fa-pinterest {
  color: #e60019;
}
footer > div:nth-child(2) a:hover .fa-linkedin {
  color: #0a66c2;
}

@media (max-width: 420px) {
  .inner {
    width: 100%;
  }
  header {
    margin-bottom: 100px;
  }
  .title_bar {
    margin-top: 15px;
  }
  .title_bar h1 {
    height: 15px;
    background-size: contain;
    margin-left: 20px;
  }
  .title_menu {
    display: none;
  }
  .m_title_menu {
    display: block;
  }
  .header_main {
    display: block;
  }
  .header_main > div:nth-child(1) {
    text-align: center;
  }
  .header_main > div:nth-child(1) img {
    width: 96%;
    padding: 10px;
  }
  .header_main > div:nth-child(2) {
    position: relative;
    top: 0px;
    left: 0%;
    width: 95%;
    text-align: right;
  }
  .header_main > div:nth-child(2) img {
    width: 15%;
    margin-bottom: 10px;
  }
  .header_main > div:nth-child(2) p {
    font-size: 9pt;
  }

  /* main */
  section h2 {
    font-size: 20pt;
    margin-left: 10px;
  }
  section:nth-child(1) {
    display: block;
  }

  /* new */
  .new {
    border-right: 0px;
    margin-bottom: 100px;
  }
  .new > h2 {
    margin-bottom: 20px;
  }
  .newSwiper {
    height: 480px;
    padding: 0px 0px;
  }
  .new-swiper-slide {
    font-size: 10pt;
    padding: 0px;
    padding-right: 5px;
  }
  .new-swiper-slide::-webkit-scrollbar {
    width: 5px;
    height: 100%;
  }

  .new_product img {
    width: 50%;
    margin-right: 0px;
  }
  .new_product > div p:nth-child(1) {
    font-size: 9pt;
  }
  .new_product > div p:nth-child(2) {
    font-size: 12pt;
    margin: 3px 0px 3px 0px;
  }
  .new_product > div p:nth-child(3) {
    font-size: 11pt;
    margin-bottom: 5px;
  }
  .new_product > div a {
    font-size: 10pt;
    padding: 1px 3px;
  }

  /* best */
  .best {
    width: 100%;
    height: 800px;
    margin: 0 auto;
  }
  .best > h2 {
    margin-bottom: 10px;
  }

  .best_rank {
    position: relative;
    opacity: 0;
    transition: all 0.7s;
    top: 0px;
  }
  .best_rank.show {
    opacity: 1;
  }
  .best span {
    font-size: 50pt;
    color: #c2c2c231;
  }
  .best span:nth-of-type(1) {
    top: -640px;
    left: 20px;
    font-size: 70pt;
  }
  .best span:nth-of-type(2) {
    top: -350px;
    left: 310px;
  }
  .best span:nth-of-type(3) {
    top: -120px;
    left: 20px;
  }
  .best > div {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .best_product {
    position: relative;
    margin-bottom: 30px;
  }
  .best_01 {
    left: 0px;
    padding: 0px;
    display: block;
    margin-bottom: 90px;
  }
  .best_01 > div:nth-child(2) {
    width: 280px;
    height: 190px;
    margin-left: auto;
    background-position: center;
  }
  .best_02 {
    top: 0px;
    left: 0px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .best_02 > div:nth-child(1) {
    width: 150px;
    height: 150px;
    margin-right: 0px;
    background-position: center;
    background-size: cover;
    margin-right: 0px;
  }
  .best_02 > div:nth-child(1):hover {
    background-position: center;
    background-size: cover;
  }
  .best_03 {
    top: 0px;
    left: 0px;
    justify-content: center;
  }
  .best_03 > div:nth-child(2) {
    width: 200px;
    height: 200px;
    margin-left: 0px;
    background-position: center;
    background-size: cover;
  }
  .best_name > div:nth-child(1) p:nth-child(1) {
    font-weight: 400;
    font-size: 10pt;
  }
  .best_name > div:nth-child(1) p:nth-child(2) {
    font-size: 13pt;
    font-weight: 600;
    margin: 2px 0px;
  }
  .best_name > div:nth-child(1) p:nth-child(3) {
    font-weight: 500;
  }
  .best_name > div:nth-child(2) p {
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .best_name > div:nth-child(2) a {
    border: 1px solid #000;
    padding: 1px 2px;
    font-size: 11pt;
  }
  .best_01 .best_name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 0px;
    position: absolute;
    top: 160px;
  }
  .best_01 .best_name > div:nth-child(1) {
    margin-bottom: 0px;
    margin-right: 30px;
    text-align: left;
  }
  .best_01 .best_name > div:nth-child(1) p:nth-child(2) {
    font-size: 12pt;
  }
  .best_02 .best_name {
    width: 150px;
    margin-left: 40px;
  }
  .best_02 .best_name > div:nth-child(1) {
    margin-bottom: 15px;
  }
  .best_03 .best_name {
    width: 140px;
  }
  .best_03 .best_name > div:nth-child(1) {
    margin-bottom: 15px;
  }

  section:nth-child(2) {
    padding: 0px;
  }
  section:nth-child(2) .product-swiper-slide {
    display: block;
  }
  section:nth-child(2) .product-swiper-slide a {
    font-size: 18pt;
  }
  /* product */
  .product-swiper-slide::-webkit-scrollbar {
    height: 7px;
  }
  .product {
    margin-bottom: 15px;
  }
  .product > div a:hover span:nth-child(2) {
    width: 170px;
  }
  .product > div a span:nth-child(3) {
    font-size: 11pt;
  }
  .product01 {
    width: 100%;
    height: 200px;
  }
  .product01 .product01_1 {
    width: 400px;
    height: 200px;
    background-position: center;
  }
  .product01 .product01_1 a span:nth-child(2) {
    top: 80px;
  }
  .product01 .product01_1 a:hover span:nth-child(2) {
    top: 80px;
    width: 370px;
  }
  .product02 {
    width: 100%;
    height: 200px;
  }
  .product02 > div {
    display: flex;
  }
  .product02 .product02_1 {
    width: 200px;
    height: 200px;
    background-position: center;
    margin-right: 15px;
  }
  .product02 .product02_2 {
    width: 200px;
    height: 200px;
    background-position: center;
  }
  .product03 {
    width: 100%;
    height: 200px;
  }
  .product03 > div {
    display: flex;
  }
  .product03 .product03_1 {
    width: 200px;
    height: 200px;
    background-position: center;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .product03 .product03_2 {
    width: 200px;
    height: 200px;
    background-position: center;
  }
  .product03 .product03_2 a span:nth-child(1) {
    top: 0px;
    padding: 10px 0px 0px 15px;
  }
  .product03 .product03_2 a span:nth-child(2) {
    left: 15px;
    top: 80px;
  }
  .product03 .product03_2 a span:nth-child(3) {
    top: 90px;
  }
  .product04 {
    width: 100%;
    height: 200px;
    margin: 0px;
    margin-bottom: 15px;
  }
  .product04 > div {
    display: flex;
  }
  .product04 .product04_1 {
    width: 200px;
    height: 200px;
    background-position: center;
    margin-right: 15px;
  }
  .product04 .product04_1 a:hover span:nth-child(2) {
    width: 170px;
  }
  .product04 .product04_2 {
    width: 200px;
    height: 200px;
    background-position: center;
  }
  .product04 .product04_2 a:hover span:nth-child(2) {
    width: 170px;
  }
  .product05 {
    width: 100%;
    height: 200px;
  }
  .product05 .product05_1 {
    width: 400px;
    height: 200px;
    background-position: center;
  }
  .product05 .product05_1 a:hover span:nth-child(2) {
    width: 370px;
  }

  section:nth-child(3) {
    margin-bottom: 50px;
  }
  section:nth-child(3) h2 {
    margin-bottom: 20px;
  }
  section:nth-child(3) > div > div {
    display: block;
    padding: 0 20px;
    margin-bottom: 0px;
  }
  section:nth-child(3) > div > div img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  section:nth-child(3) > div > div iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
  }
  section:nth-child(3) > div > div p {
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 5px;
  }
  section:nth-child(3) > div > div p:nth-of-type(1) {
    font-size: 14pt;
    font-weight: 700;
    margin-bottom: 5px;
  }
  section:nth-child(3) > div > div p:nth-of-type(2) {
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 15px;
  }

  section:nth-child(4) .sns_title {
    display: block;
  }
  section:nth-child(4) .sns_title h1 {
    font-size: 20pt;
  }
  section:nth-child(4) .sns_title > div {
    margin-right: 0px;
    width: 250px;
  }
  section:nth-child(4) .sns_title span {
    margin-right: 3px;
  }
  section:nth-child(4) .sns::-webkit-scrollbar {
    opacity: 0;
    height: 6px;
  }

  section:nth-child(4) .sns > div {
    margin-right: 10px;
    position: relative;
  }
  section:nth-child(4) .sns > div img {
    width: 180px;
  }
  section:nth-child(4) .sns > div i:nth-child(1) {
    font-size: 17pt;
  }
  section:nth-child(4) .sns > div i:nth-child(2) {
    font-size: 17pt;
  }
  section:nth-child(4) .sns > div:hover i {
    padding: 7px;
  }

  /* footer */
  footer {
    display: block;
    padding: 20px 5px;
  }
  footer > div:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  footer img {
    width: 35px;
    margin-bottom: 15px;
  }
  footer p {
    margin-bottom: 5px;
    font-size: 7pt;
  }
  footer > div:nth-child(2) p:nth-of-type(2) {
    font-size: 10pt;
    font-weight: 600;
    margin: 5px 0px;
  }
  footer > div:nth-child(2) p:nth-of-type(4) {
    margin-bottom: 10px;
  }
  footer > div:nth-child(2) div {
    text-align: center;
  }

  footer > div:nth-child(2) i {
    font-size: 17pt;
    margin-right: 15px;
  }
  footer > div:nth-child(2) .fa-instagram {
    font-size: 18pt;
  }
}

@media (max-width: 377px) {
}
